[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
    ignore = dirty
[submodule "deps/wave_geometry"]
	path = wave_geometry
	url = https://github.com/wavelab/wave_geometry
